<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustMapper">
	
	<select id="findCustsByPage" parameterType="java.util.Map" resultType="java.util.Map">
	    select * from JXC_CUSTOMER
	    where 1=1
	    <if test="code!=null">
	        and code like concat(concat('%', #{code}), '%')
	    </if>
	    <if test="name!=null">
	        and name like concat(concat('%', #{name}), '%')
	    </if>
	</select>

	<insert id="addCust" parameterType="java.util.Map" flushCache="false">
	    insert into JXC_CUSTOMER(
	    	id,
	    	code,
	    	name,
	    	addr,
	    	telno,
	    	phone,
	    	qq,
	    	email,
	    	linkman,
	    	xkzh
	    )
	    values(
	    	#{id},
	    	#{code},
	    	#{name},
	    	#{addr},
	    	#{telno},
	    	#{phone},
	    	#{qq},
	    	#{email},
	    	#{linkman},
	    	#{xkzh}
	    )
	</insert>
	
	<update id="editCust" parameterType="java.util.Map" flushCache="false">
	    update JXC_CUSTOMER set
	    name=#{name},
	    addr=#{addr},
	    telno=#{telno},
	    phone=#{phone},
	    qq=#{qq},
	    email=#{email},
	    linkman=#{linkman}
	    where id=#{id}
	</update>
	
	<delete id="rmvCust" parameterType="java.util.Map">
	    delete from JXC_CUSTOMER
	    where id=#{id}
	</delete>
	
</mapper>