<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProdMapper">
	
	<select id="findProdsByPage" parameterType="java.util.Map" resultType="java.util.Map">
	    select * from JXC_PRODUCT
	    where 1=1
	    <if test="code!=null">
	        and code like concat(concat('%', #{code}), '%')
	    </if>
	    <if test="name!=null">
	        and name like concat(concat('%', #{name}), '%')
	    </if>
	</select>

	<insert id="addProd" parameterType="java.util.Map" flushCache="false">
	    insert into JXC_PRODUCT(
	    	id,
	    	code,
	    	name,
	    	xhgg,
	    	scqy,
	    	pzwh,
	    	yxq,
	    	dw,
	    	price
	    )
	    values(
	    	#{id},
	    	#{code},
	    	#{name},
	    	#{xhgg},
	    	#{scqy},
	    	#{pzwh},
	    	#{yxq},
	    	#{dw},
	    	#{price}
	    )
	</insert>
	
	<update id="editProd" parameterType="java.util.Map" flushCache="false">
	    update JXC_PRODUCT set
	    name=#{name},
	    xhgg=#{xhgg},
	    scqy=#{scqy},
	    pzwh=#{pzwh},
	    yxq=#{yxq},
	    dw=#{dw},
	    price=#{price}
	    where id=#{id}
	</update>
	
	<delete id="rmvProd" parameterType="java.util.Map">
	    delete from JXC_PRODUCT
	    where id=#{id}
	</delete>
	
</mapper>