@CHARSET "UTF-8";

* {
	font-size: 9pt;
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	font-family: '微软雅黑';
	margin: 0 auto;
	min-width: 980px;
}

ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	border: 0;
}

dl, dt, dd, span {
	margin: 0;
	padding: 0;
	display: block;
}

a, a:focus {
	text-decoration: none;
	color: #000;
	outline: none;
	blr: expression(this.onFocus = this.blur ());
}

a:hover {
	color: #00a4ac;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

cite {
	font-style: normal;
}

h2 {
	font-weight: normal;
}

/* table-css */
.list {
	width: 100%;
	border-spacing: 0;
	font-size: 12px;
}

.list th {
	border: 1px solid #99CCFF;
	border-width: 0px 1px 1px 0px;
	font-weight: normal;
	height: 20px;
	padding: 4px 6px 0px;
	white-space: nowrap;
	text-align: right;
	background: #FBFCFD;
}

.list td {
	border: 1px solid #99CCFF;
	border-width: 0px 1px 1px 0px;
	height: 20px;
	padding: 4px 6px 4px;
}

.list td .easyui-textbox {
	border: 1px solid #95B8E7;
	margin: 0;
	padding: 0 2px;
	vertical-align: middle;
	width: 149px;
	height: 20px;
	line-height: 20px;
}

.list td .easyui-textarea {
	border: 1px solid #95B8E7;
	margin: 0;
	padding: 0 2px;
	vertical-align: middle;
	line-height: 20px;
}

.toolbar_group {
	background-color: #eee;
	margin: 0px;
	padding: 0px;
}

/**
		弹出对话框窗口下方的操作按钮居中显示
	*/
.dialog-button {
	text-align: center;
}

.menubtn-cutline {
	height: 25px;
	margin: 0px 5px 0px 0px;
	padding: 0px;
	border: 1px #dddddd inset;
}

input {
	box-sizing: content-box;
}

.xian {
	display: inline;
	height: 24px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
	margin: 2px 1px;
	height: 24px;
}

.tb-css {
	background-color: #F0F9FD;
	padding: 0px;
}

.tb-css-btn {
	padding: 5px;
	background: #fff;
}

.tb-css-qry {
	background-color: #fff;
	padding: 5px;
	border-width: 1px 0px 1px 0px;
	border-color: #95B8E7;
	border-style: solid;
}

.datagrid-header-row {
	background: url(images/th.gif) repeat-x;
	height: 34px;
	line-height: 34px;
	background-color: #F0F9FD;
}

.datagrid-header td {
	border-color: #b6cad2;
	border-style: solid;
	font-weight: bold;
	font-size: 9pt;
}

.datagrid-header-check, .datagrid-cell-check {
	line-height: 18px;
}

.datagrid-row {
	height: 35px;
	line-height: 35px;
}

.datagrid-body td {
	border-color: #c7c7c7;
}

.datagrid-row-alt {
	background: #f5f8fa;
}

.datagrid-row-over {
	background: #e5ebee;
}

.datagrid-row-selected {
	background: #3EAFE0;
	color: #fff;
}

.datagrid-header-inner{
	background: #F0F9FD;
}