<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-lazy-init="false">

    <!-- 加载配置 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath:jdbc.properties"/>
    
    <!-- 启用CGliB -->
    <!-- <aop:aspectj-autoproxy proxy-target-class="true"/> -->
    <!-- 启用aop注解 -->
	<aop:aspectj-autoproxy expose-proxy="true" proxy-target-class="true"/>

	<!-- 扫描注解配置 -->
	<context:component-scan base-package="com.zcz.web.**.dao"/>
    <context:component-scan base-package="com.zcz.web.**.service"/>
    
	
    <import resource="classpath:spring/spring-mybatis.xml"/>
    <import resource="classpath:spring/spring-shiro.xml"/>
</beans>